<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
  <div class="jumbotron col-6">
    <p class="lead">Load Game</p>
    <form ng-submit="load()">
      <div class="form-group row">
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-group-item-action"
              ng-class="{ active: model.gameId == game.id }"
              ng-click="model.gameId = 1;"
              ng-repeat="game in games">{{ game.title }}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <span class="col-5">
          <button class="btn btn-secondary w-100" ng-disabled="flags.busy" ng-click="transitionTo('users.logout');" type="reset">Log Out</button>
        </span>
        <span class="col-5 offset-2">
          <button class="btn btn-primary w-100" ng-disabled="flags.busy" type="submit">Load Game</button>
        </span>
      </div>
    </form>
  </div>
</div>
