<dialog>
  <form ng-submit="load()">
    <header>Load Game</header>
    <main>
      <ul style="height: 160px;">
        <li
          ng-class="{ active: model.gameId == game.id }"
          ng-click="model.gameId = game.id;"
          ng-repeat="game in games">{{ game.title }}</li>
      </ul>
    </main>
    <footer>
      <button ng-disabled="flags.busy" ng-click="transitionTo('users.logout');" type="reset">Log Out</button>
      <button ng-disabled="flags.busy || !model.gameId" type="submit">Load Game</button>
      <button ng-disabled="flags.busy || true" type="reset">New Game</button>
    </footer>
  </form>
</dialog>
