<h2>Load Game</h2>
<dialog>
  <form ng-submit="load()">
    <header>
      <a ui-sref="games.menu"><i class="fa fa-times"></i></a>
      Load Game
    </header>
    <main>
      <ul class="border" style="height: 160px;">
        <li ng-class="{ active: $parent.model.gameId == game.GameId }" ng-repeat="game in $parent.games">
          <label class="input-checkbox">
            <input name="game" ng-model="$parent.model.gameId" ng-value="game.GameId" type="radio" />
            {{ game.GameTitle }}
          </label>
        </li>
      </ul>
    </main>
    <footer>
      <button ng-disabled="flags.busy || !$parent.model.gameId" type="submit">Load Game</button>
    </footer>
  </form>
</dialog>
