<h2>New Game</h2>
<dialog>
  <form>
    <header>
      <a ui-sref="games.menu"><i class="fa fa-times"></i></a>
      Create Party
    </header>
    <main class="row">
      <figure ng-repeat="x in [].constructor(6) track by $index">
        <img
          class="portrait"
          ng-if-start="$parent.model.characters[$index].name"
          ng-src="./media/images/characters/portraits/{{ $parent.model.characters[$index].race.name }}.{{ $parent.model.characters[$index].gender.name }}.1.jpg" />
        <div ng-if-end>
          <p>
            <b>{{ $parent.model.characters[$index].name }}</b>
            <br />
            <small>
              {{ $parent.model.characters[$index].race.name }}
              {{ $parent.model.characters[$index].class.name }}
            </small>
          </p>
          <nav class="compact">
            <button ui-sref="games.new.character.race({ model: $parent.model.characters[$index] })">Edit</button>
          </nav>
        </div>
        <img
          class="portrait"
          ng-if-start="!$parent.model.characters[$index].name"
          src="./media/images/transparent.gif" />
        <div ng-if-end>
          <p>&nbsp;<br /><small>&nbsp;</small></p>
          <nav class="compact">
            <button ui-sref="games.new.character.race({ model: $parent.model.characters[$index] })">Create</button>
          </nav>
        </div>
      </figure>
    </main>
    <footer>
      <button ng-disabled="!$parent.isTeamFull()" type="submit">Start Game</button>
    </footer>
  </form>
</dialog>
