<dialog>
  <form name="loginForm" ng-submit="login()">
    <header>Log In</header>
    <main>
      <input style="display: none;" />
      <input style="display: none;" type="password" />
      <label class="input-group">
        <i class="fa fa-user"></i>
        <input ng-disabled="flags.busy" ng-model="model.user" placeholder="Username" required />
      </label>
      <label class="input-group">
        <i class="fa fa-key"></i>
        <input ng-disabled="flags.busy" ng-model="model.pass" placeholder="Password" required type="password" />
      </label>
    </main>
    <footer>
      <button ng-disabled="flags.busy" ng-click="transitionTo('users.register');" type="reset">Register</button>
      <button ng-disabled="flags.busy || loginForm.$invalid" type="submit">Log In</button>
    </footer>
  </form>
</dialog>
