.flex {
  flex: 1 0 auto;

  &-align {
    &-stretch {
      align-items: stretch;
    }
  }

  :not(&-column) > &-column {
    margin: -8px 0;
  }

  &-column {
    display: flex;
    flex-direction: column;

    > *:not(button):not(.button):not(input):not(fieldset) {
      padding: 8px 0;
    }

    > .flex:not(fieldset) {
      height: 0;
    }
  }

  &-justify {
    &-center {
      justify-content: center;
    }
  }

  :not(&-row) > &-row {
    margin: 0 -8px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    margin: 0 -8px;

    > *:not(button):not(.button):not(input):not(fieldset) {
      padding: 0 8px;
    }
  }

  &-span {
    &-1 {
      flex: 0 0 10%;
    }

    &-2 {
      flex: 0 0 20%;
    }

    &-3 {
      flex: 0 0 30%;
    }

    &-4 {
      flex: 0 0 40%;
    }

    &-5 {
      flex: 0 0 50%;
    }

    &-6 {
      flex: 0 0 60%;
    }

    &-7 {
      flex: 0 0 70%;
    }

    &-8 {
      flex: 0 0 80%;
    }

    &-9 {
      flex: 0 0 90%;
    }

    &-10 {
      flex: 0 0 100%;
    }
  }
}
