.form-group {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  position: relative;

  #{$selectors-inputs},
  #{$selectors-buttons} {
    &:hover,
    &:focus {
      z-index: 1;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-left: -1px;
    }
  }
}
