.input-group {
  align-items: stretch;
  display: flex;
  position: relative;

  .fa {
    color: $input-text-color;
    line-height: 1.5;
    padding: $spacing ($spacing*1.5);
    position: absolute;
    z-index: 1;
  }

  #{$input-selectors} {
    flex: 1 0 auto;
    padding-left: 36px;
  }
}
