.input-group {
  align-items: stretch;
  display: flex;
  position: relative;

  .fa {
    color: $color-white;
    line-height: 1.5;
    padding: $spacing-padding ($spacing-padding * 1.5);
    position: absolute;
    z-index: 1;
  }

  #{$selectors-inputs} {
    flex: 1 0 auto;
    padding-left: 36px;
  }
}
