.tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 !important;

  #{$selectors-buttons} {
    background-image: none;line-height: 18px;
    border-width: 0px 1px 2px;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    font-size: $font-size-small;
    min-height: 28px;
    min-width: 0;
    padding: ($spacing-padding / 2) (($spacing-padding * 3) / 2);
    width: auto;

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:hover,
    &:focus,
    &.selected {
      z-index: 1;
    }

    &:not(:hover):not(:focus):not(.selected) {
      color: rgba($color-white, .5);
    }

    &.selected {
      border-color: lighten($color-light, 15);
    }
  }
}
