body {
  background: $black;
  color: $white;
  font: $font-weight $font-size $font-family;
  line-height: 1.5;


  &[ng-controller] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
