#{$button-selectors} {
  background-color: rgba($button-background-color, .75);
  background-image: $button-gradient;
  border: 1px solid $button-border-color;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 2px $black;
  color: $button-text-color;
  line-height: 22px;
  min-height: 32px;
  min-width: 128px;
  padding: $padding-field;
  text-transform: uppercase;

  &:focus {
    box-shadow: inset 0 0 0 2px $black, $shadow-focus;
    outline: none;
  }

  &:focus, &:hover {
    border-color: lighten($button-border-color-focus, 15);
  }

  &:active {
    background-image: $button-gradient-active;
  }

  &:disabled,
  &:disabled:active {
    background-color: rgba($button-background-color, .375);
    background-image: $button-gradient;
    border-color: rgba($button-border-color-disabled, .5);
    box-shadow: inset 0 0 0 2px rgba($black, .5);
    color: rgba($button-text-color, .5);
  }
}

button, input {
  &[type=submit] {
    background-color: rgba($button-submit-background-color, .75);

    &:disabled {
      background-color: rgba($button-submit-background-color, .375);
    }
  }
}

#{$button-selectors} {
}

.jumbotron {
  background: black;
}
