#{$button-selectors} {
  background: $button-background;
  border: 1px solid $button-border;
  border-radius: $border-radius;
  box-shadow: inset 0 0 1px 1px $black;
  color: $button-color;
  min-width: 6rem;
  padding: .375rem .75rem;

  &:focus {
    box-shadow: inset 0 0 1px 1px $black, $shadow;
    outline: none;
  }

  &:focus, &:hover {
    background: lighten($button-background, 15);
    border: 1px solid lighten($button-border, 15);
    color: lighten($button-color, 15);
  }

  &:active {
    background: $button-background;
  }

  &:disabled {
    background: darken($button-background, 15);
    border: 1px solid darken($button-border, 20);
    color: darken($button-color, 20);
  }
}

button, input {
  &[type=submit] {
    background: $button-submit-background;
    border: 1px solid $button-submit-border;
    color: $button-submit-color;

    &:focus,
    &:hover {
      background: lighten($button-submit-background, 15);
      border: 1px solid lighten($button-submit-border, 15);
      color: lighten($button-submit-color, 15);
    }

    &:active {
      background: $button-submit-background;
    }

    &:disabled {
      background: darken($button-submit-background, 15);
      border: 1px solid darken($button-submit-border, 20);
      color: darken($button-submit-color, 20);
    }
  }
}

.jumbotron {
  background: black;
}
