#{$selectors-buttons} {
  background-color: rgba($color-black, $transparency-background);
  background-image: $button-gradient;
  border: 1px $border-style $color-dark;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 2px $color-black;
  color: $color-white;
  line-height: 22px;
  min-height: 32px;
  min-width: 128px;
  padding: ($spacing-padding / 2) $spacing-padding;
  text-transform: uppercase;

  &:focus {
    box-shadow: inset 0 0 0 2px $color-black, $shadow-outset;
    outline: none;
  }

  &:focus, &:hover {
    border-color: lighten($color-light, 15);
  }

  &:active {
    background-image: $button-gradient-active;
  }

  &:disabled,
  &:disabled:active {
    background-color: rgba($color-black, $transparency-background-disabled);
    background-image: $button-gradient;
    border-color: rgba($color-dark, $transparency-border-disabled);
    box-shadow: inset 0 0 0 2px rgba($color-black, .5);
    color: rgba($color-white, $transparency-text-disabled);
  }

  &[type=submit] {
    background-color: rgba($color-interactive, $transparency-background);

    &:disabled {
      background-color: rgba($color-interactive, $transparency-background-disabled);
    }
  }
}
