div {
  &.input-helper {
    padding: $spacing-padding 0 0;
  }
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: (82 + $spacing-margin) $spacing-margin $spacing-margin;

  form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    header {
      padding-bottom: $spacing-margin;
    }

    article {
      align-items: stretch;
      display: flex;
      height: calc(100% - 48px - 48px);
      justify-content: space-between;

      &:first-child,
      &:last-child {
        height: calc(100% - 48px);
      }

      &:first-child:last-child {
        height: 100%;
      }

      aside,
      section {
      }

      aside {
      }

      section {
      }
    }

    footer {
      display: flex;
      justify-content: center;
      margin-top: $spacing-margin;

      button + button {
        margin-left: $spacing-margin;
      }
    }
  }
}
