div {
  &.input-helper {
    padding: ($spacing/2) 0;
  }
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: ($padding+82) $padding $padding;

  form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    header {
      padding-bottom: $margin;
    }

    article {
      align-items: stretch;
      display: flex;
      height: calc(100% - 48px - 48px);
      justify-content: space-between;
      width: 100%;

      &:first-child,
      &:last-child {
        height: calc(100% - 48px);
      }

      &:first-child:last-child {
        height: 100%;
      }

      aside,
      section {
        overflow-x: hidden;
        overflow-y: hidden;
      }

      aside {
        flex: 0 0 28%;

        &:first-child {
          padding-right: $margin;
        }

        &:last-child {
          padding-left: $margin;
        }
      }

      section {
        flex: 0 0 44%;
        overflow: hidden;

        &:first-child,
        &:last-child {
          flex: 0 0 75%;
        }

        &:first-child:last-child {
          flex: 0 0 100%;
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;
      margin-top: $margin;

      button + button {
        margin-left: $margin;
      }
    }
  }
}
