dialog {
  background-color: rgba($black, .75);
  border: 1px solid $input-border-color;
  border-radius: ($border-radius*2);
  box-shadow: $shadow-inset;
  color: inherit;
  min-width: 320px;
  padding: $padding;

  &:not([modal])::backdrop {
    display: none;
  }

  header,
  footer {
    color: $input-text-color;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  header {
    font-size: 15px;
    margin: (-$margin) (-$margin) $margin;
    padding: ($padding/2) $padding 0;
    position: relative;

    a[ui-sref] {
      position: absolute;
      right: 0;
      top: 0;

      .fa {
        padding: 13px 15px;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: $margin (-$margin) (-$margin);
    padding: 0 $padding $padding;

    button:only-child {
      margin: 0 auto;
    }
  }

  &[modal]::backdrop {
    background: rgba($black, .5);
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.transparent {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    min-width: 0;
    padding: 0;

    header {
      background: transparent;
      border-bottom-width: 0;
    }
  }
}
