dialog {
  background-color: rgba($color-black, .75);
  border: 1px $border-style $color-dark;
  border-radius: ($border-radius*2);
  box-shadow: $shadow-inset;
  color: inherit;
  min-width: 320px;
  padding: $spacing-margin;

  &:not([modal])::backdrop {
    display: none;
  }

  header,
  footer {
    color: $color-white;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  header {
    font-size: 15px;
    margin: (0 - $spacing-margin) (0 - $spacing-margin) $spacing-margin;
    padding: $spacing-padding $spacing-margin 0;
    position: relative;

    a[ui-sref] {
      position: absolute;
      right: 0;
      top: 0;

      .fa {
        padding: 13px 15px;
      }
    }
  }

  main {
    align-items: stretch;
    flex-direction: column;
    overflow: visible;
    padding: 0;
    position: relative;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: $spacing-margin (0 - $spacing-margin) (0 - $spacing-margin);
    padding: 0 $spacing-margin $spacing-margin;
    position: relative;

    button + button {
      margin-left: $spacing-margin;
    }

    button:only-child {
      margin: 0 auto;
    }
  }

  &[modal]::backdrop {
    background: rgba($color-black, .5);
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.transparent {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    min-width: 0;
    padding: 0;

    header {
      background: transparent;
      border-bottom-width: 0;
    }
  }
}
