figure {
  display: inline-block;
  margin: 0;
  vertical-align: top;

  &:not(:last-child) {
    margin-right: $margin;
  }

  img {
    border: 1px solid $input-border-color;
    display: block;
    margin: 0 auto;
    padding: 1px;
  }

  p {
    text-align: center;
  }
}
