figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  vertical-align: top;

  img {
    background-color: rgba($color-black, $transparency-background);
    border-color: $color-light;
    border-style: $border-style;
    border-width: 2px 1px;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    padding: 4px;
  }

  figcaption {
    background-color: $color-black;
    border-color: $color-light;
    border-radius: 8px;
    border-style: $border-style;
    border-width: 2px 1px;
    margin: 0 16px;
    padding: 2px 8px;
    text-align: center;

    &.small {
      margin-top: -14px;
      line-height: 20px;
    }
  }

  p {
    text-align: center;
  }
}
