form {
  margin-block-end: 0;

  fieldset {
    background-color: rgba($color-black, $transparency-background);
    border-color: $color-light;
    border-radius: $border-radius;
    border-style: $border-style;
    border-width: ($border-radius / 2) 0;
    margin: 0;
    padding: ($spacing-padding / 4) $spacing-padding $spacing-padding;
    width: 100%;

    & + fieldset {
      margin-top: $spacing-margin;
    }

    legend {
      background-image: linear-gradient(
        rgba($color-black, $transparency-background),
        rgba($color-black, $transparency-background) 50%,
        transparent 50%,
        transparent
      );
      border-color: $color-light;
      border-radius: $border-radius;
      border-style: $border-style;
      border-width: ($border-radius / 2) 0;
      border-bottom-width: 0;
      line-height: 24px;
      padding: 0 $spacing-padding;
      text-align: center;
    }

    > .flex {
      height: calc(100% - 38px);
    }
  }
}
