h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h1, h2 {
  background-image: $header-gradient;
  border: 1px $border-style $color-dark;
  border-left-width: 0;
  border-right-width: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
}

h1 {
  font-size: $font-size-large;
  line-height: 21px;
  margin-left: -160px;
  padding: $spacing-padding 0;
  top: 16px;
  width: 320px;
}

h2 {
  line-height: 19px;
  margin-left: -96px;
  padding: ($spacing-padding / 2) 0;
  top: 54px;
  width: 192px;
}
