label {
  line-height: 31px;

  + label {
    margin-top: $margin;
  }

  /*&:last-child {
    margin-bottom: 0;
  }*/

  #{$input-selectors} {
    margin-bottom: 0;
  }
}

#{$input-selectors} {
  background: rgba($input-background-color, .5);
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  background-image: $input-gradient;
  box-shadow: inset 0 0 1px 1px $black;
  color: $input-text-color;
  line-height: 22px;
  min-height: 32px;
  padding: $padding-field;

  &:focus {
    border-color: $input-border-color-focus;
    box-shadow: inset 0 0 1px 1px $black, $shadow-focus;
    outline: none;
  }

  &:disabled {
    background: rgba($input-background-color, .25);
    border-color: rgba($input-border-color, .5);
    color: rgba($input-text-color, .5);
  }

  &::placeholder {
    color: $input-placeholder-text-color;
  }
}

input[type=radio],
input[type=checkbox] {
  opacity: 0;
  margin: 0;
  position: absolute;
  width: 0;
}

.input-group {
  align-items: stretch;
  display: flex;
  position: relative;

  .fa {
    color: $input-text-color;
    line-height: 1.5;
    padding: $spacing ($spacing*1.5);
    position: absolute;
    z-index: 1;
  }

  #{$input-selectors} {
    flex: 1 0 auto;
    padding-left: 36px;
  }
}
