label {
  line-height: 31px;

  + label {
    margin-top: $spacing-margin;
  }

  /*&:last-child {
    margin-bottom: 0;
  }*/

  #{$selectors-inputs} {
    margin-bottom: 0;
  }
}

#{$selectors-inputs} {
  background: rgba($color-black, .5);
  border: 1px $border-style $color-dark;
  border-radius: $border-radius;
  background-image: $input-gradient;
  box-shadow: inset 0 0 1px 1px $color-black;
  color: $color-white;
  line-height: 22px;
  min-height: 32px;
  padding: ($spacing-padding / 2) $spacing-padding;

  &:focus {
    border-color: $color-light;
    box-shadow: inset 0 0 1px 1px $color-black, $shadow-outset;
    outline: none;
  }

  &:disabled {
    background: rgba($color-black, .25);
    border-color: rgba($color-dark, .5);
    color: rgba($color-white, .5);
  }

  &::placeholder {
    color: $color-extra-dark;
  }
}

input[type=radio],
input[type=checkbox] {
  opacity: 0;
  margin: 0;
  position: absolute;
  width: 0;
}
