ul {
  border: 1px solid $input-border-color;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

li {
  line-height: 24px;
  padding: $padding-field;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background-color: darken($listitem-background-color-hover, 15);
  }

  &.active {
    background-color: $listitem-background-color-active;
  }

  label {
    display: block;
    margin-bottom: 0;
  }
}
