nav {
  display: flex;
  flex-direction: column;

  button {
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  &:not(.compact) {
    button {
      min-width: 192px;
    }
  }
}

header nav {
  flex-direction: row;
  justify-content: center;

  button {
    border-radius: ($border-radius*2);
    margin: 0;
    min-width: 96px !important;

    &:hover,
    &:focus {
      z-index: 1;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-left: -1px;
      margin-bottom: 0 !important;
    }
  }
}
