nav {
  display: flex;
  flex-direction: column;

  button {
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  &:not(.compact) {
    button {
      min-width: 192px;
    }
  }
}
