p {
  margin: 0;
  padding: 0 $spacing-padding;

  & + p {
    margin-top: $spacing-padding;
  }
}

small, .small {
  font-size: $font-size-small;
}

a {
  color: rgba($color-white, .5);
  text-decoration: none;

  &:hover,
  &:active {
    color: $color-white;
    text-decoration: underline;
  }
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}
