p {
  margin: 0;
  padding: 0 ($padding/2);

  & + p {
    margin-top: ($margin/2);
  }
}

small, .small {
  font-size: $font-size-small;
}

a {
  color: rgba($input-text-color, .5);
  text-decoration: none;

  &:hover,
  &:active {
    color: $input-text-color;
    text-decoration: underline;
  }
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}
