p {
  margin: ($margin/2) 0;
  padding: 0 ($padding*(3/4));
}

small {
  font-size: $font-size-small;
}

a {
  color: rgba($input-text-color, .5);
  text-decoration: none;

  &:hover,
  &:active {
    color: $input-text-color;
    text-decoration: underline;
  }
}
