<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && (getBonus() == 0) && accept()">
    <article>
      <aside class="col">
        <div class="col">
          <fieldset class="flex">
            <legend>Bonus Points</legend>
            <div class="flex">
              <ul class="condensed">
                <li class="row">
                  <span class="flex">Remaining Points:</span>
                  <span>
                    <input class="text-center" readonly ng-value="getBonus()" onfocus="this.blur()" style="width: 64px;" />
                  </span>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="flex col">
          <fieldset class="flex">
            <legend>Select Abilities</legend>
            <div class="flex" ng-scrollbars>
              <ul class="condensed">
                <li class="row" ng-repeat="ability in model.selected.abilities track by $index">
                  <span class="flex">{{ ability.AbilityName }}:</span>
                  <span class="form-group">
                    <button ng-click="increment($index, $event)" ng-disabled="getBonus() == 0" onfocus="this.blur();"><i class="fa fa-plus"></i></button>
                    <input class="text-center" readonly ng-value="getValue($index)" onfocus="this.blur()" />
                    <button ng-click="decrement($index, $event)" ng-disabled="getBonus($index) == 0" onfocus="this.blur();"><i class="fa fa-minus"></i></button>
                  </span>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </aside>
      <section class="col flex-center">
        <figure class="flex">
          <div class="flex">
            <img
              class="preview"
              ng-src="./media/images/characters/classes/{{ $parent.model.gender.GenderName }}-{{ $parent.model.race.RaceName }}-{{ $parent.model.class.ClassName }}.png" />
          </div>
          <figcaption class="small">{{ $parent.model.gender.GenderName }} {{ $parent.model.race.RaceName }} {{ $parent.model.class.ClassName }}</figcaption>
        </figure>
      </section>
      <aside class="col">
        <div class="flex col">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p ng-repeat-start="ability in model.selected.abilities track by $index">{{ ability.AbilityName }}</p>
                <p class="small" ng-repeat-end>{{ ability.AbilityDescription }}</p>
              </div>
            </div>
          </fieldset>
        </div>
      </aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading || getBonus() != 0" type="submit">Next</button>
    </footer>
  </form>
</main>
