<h2>Create Character</h2>
<dialog>
  <form>
    <header>
      <a ui-sref="games.new.party"><i class="fa fa-times"></i></a>
      Create Character
    </header>
    <main>
      <article style="width: 832px;">
        <aside>
          <nav class="compact">
            <!-- button onfocus="this.blur();" ng-click="transitionTo('games.new.character.gender', { model: model })">Gender</button -->
            <button ng-disabled="false && !model.gender" onfocus="this.blur();" ng-click="transitionTo('games.new.character.race', { model: model })">Race</button>
            <button ng-disabled="!model.race" onfocus="this.blur();" ng-click="transitionTo('games.new.character.class', { model: model })">Class</button>
            <button ng-disabled="!model.class" onfocus="this.blur();" ng-click="transitionTo('games.new.character.abilities', { model: model })">Abilities</button>
            <button ng-disabled="!model.abilities" onfocus="this.blur();" ng-click="transitionTo('games.new.character.skills', { model: model })">Skills</button>
            <button ng-disabled="!model.skills" onfocus="this.blur();" ng-click="transitionTo('games.new.character.name', { model: model })">Name</button>
          </nav>
        </aside>
        <section class="border">
          <p ng-if="model.name"><b>Name:</b> {{ model.name }}</p>
          <p ng-if="model.gender"><b>Gender:</b> {{ model.gender.name }}</p>
          <p ng-if="model.race"><b>Race:</b> {{ model.race.name }}</p>
          <p ng-if="model.class"><b>Class:</b> {{ model.class.name }}</p>
          <p ng-if="model.abilities">
            <b>Abilities:</b>
            <span ng-repeat="ability in model.abilities track by $index">
              {{ ability.abbreviation }}: {{ getAttributeValue(ability) }}<span ng-if="!$last">,&nbsp;</span>
            </span>
          </p>
          <p ng-if="model.skills"><b>Skills:</b> Bastard Sword, Plate Armor, Shield, Body Building</p>
        </section>
        <aside>
          <figure>
            <img
              class="preview"
              ng-if="model.race && model.gender"
              ng-src="./media/images/characters/portraits/{{ model.race.name }}.{{ model.gender.name }}.1.jpg" />
            <img
              class="preview"
              ng-if="!model.race || !model.gender"
              ng-src="./media/images/transparent.gif" />
          </figure>
        </aside>
      </article>
    </main>
    <footer>
      <button disabled type="submit">Create</button>
    </footer>
  </form>
</dialog>
<ui-view />
