<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article>
      <aside class="col">
        <div class="col flex">
          <fieldset class="flex text-center">
            <legend>Select Race</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li
                  ng-class="{ active: model.selected.class.id == class.id, disabled: class.enabled == null }"
                  ng-repeat="class in model.options.class">
                  <label class="input-checkbox">
                    <input
                      name="class"
                      ng-checked="model.selected.class.id === class.id"
                      ng-disabled="class.enabled == null"
                      ng-model="model.selected.class"
                      ng-value="class"
                      type="radio" />
                    {{ class.name }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </aside>
      <section class="col flex-center">
        <figure class="flex">
          <div class="flex">
            <img
              height="100%"
              ng-src="./media/images/characters/classes/{{ $parent.model.gender.name }}-{{ $parent.model.race.name }}-{{ model.selected.class.name }}.png" />
          </div>
          <figcaption class="small">{{ $parent.model.gender.name }} {{ $parent.model.race.name }} {{ model.selected.class.name }}</figcaption>
        </figure>
      </section>
      <aside class="col">
        <div class="col flex">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p>{{ model.selected.class.name }}</p>
                <p class="small">{{ model.selected.class.description }}</p>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="tabs bottom">
          <button ng-class="{ selected: !view.description || view.description == 'general' }" ng-click="view.description = 'general'" onclick="return false;" onfocus="this.blur()">General</button>
          <button ng-class="{ selected: view.description == 'details' }" ng-click="view.description = 'details'" onclick="return false;" onfocus="this.blur()">Details</button>
          <button ng-class="{ selected: view.description == 'stats' }" ng-click="view.description = 'stats'" onclick="return false;" onfocus="this.blur()">Stats</button>
        </div>
      </aside>
    </article>
    <footer>
      <button ng-click="transitionTo('games.new.character.race', { model: $parent.model })" type="reset">Back</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
