<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article class="flex-row">
      <aside class="flex-align-stretch flex-column flex-justify-center flex-span-2" ng-include="'app/templates/games/new/character/includes/nav.html'"></aside>
      <section class="flex-column flex-span-3">
        <div class="flex flex-column ">
          <fieldset class="flex text-center">
            <legend>Select Class</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li ng-class="{ active: model.selected.class.ClassId == class.ClassId, disabled: class.ClassEnabled == null }" ng-repeat="class in model.options.class">
                  <label class="input-checkbox">
                    <input name="class" ng-checked="model.selected.class.ClassId === class.ClassId" ng-disabled="class.ClassEnabled == null" ng-model="model.selected.class" ng-value="class" type="radio" />
                    {{ class.ClassName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </section>
      <section class="flex-column flex-span-3">
        <div class="flex flex-column">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p>{{ model.selected.class.ClassName }}</p>
                <p class="small" ng-bind-html="model.selected.class.ClassDescription | replaceNewLines | fixPlusMinus" ng-if="!view.description || view.description == 'general'"></p>
                <p class="small" ng-bind-html="model.selected.class.ClassDetails | replaceNewLines | fixPlusMinus" ng-if="view.description == 'details'"></p>
                <p class="small" ng-bind-html="model.selected.class.ClassStats | replaceNewLines | fixPlusMinus" ng-if="view.description == 'stats'"></p>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="tabs bottom">
          <div ng-class="{ selected: !flags.loading && (!view.description || view.description == 'general') }" ng-click="view.description = 'general'">General</div>
          <div ng-class="{ selected: !flags.loading && (view.description == 'details') }" ng-click="view.description = 'details'">Details</div>
          <div ng-class="{ selected: !flags.loading && (view.description == 'stats') }" ng-click="view.description = 'stats'">Stats</div>
        </div>
      </section>
      <aside class="flex-column flex-justify-center flex-span-2" ng-include="'app/templates/games/new/character/includes/preview.html'"></aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
