<dialog modal>
  <form ng-submit="accept()">
    <header>
      <a ui-sref="games.new.character.details({ model: $parent.model })"><i class="fa fa-times"></i></a>
      Select Gender
    </header>
    <main style="height: 66px;">
      <ul>
        <li ng-class="{ active: model.selected == item }" ng-repeat="item in model.items track by $index">
          <label class="input-checkbox">
            <input name="gender" ng-model="model.selected" ng-value="item" type="radio" />
            {{ item.name }}
          </label>
        </li>
      </ul>
    </main>
    <footer>
      <button type="submit">Accept</button>
    </footer>
  </form>
</dialog>
