<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article class="flex-row">
      <aside class="flex-align-stretch flex-column flex-justify-center flex-span-2" ng-include="'app/templates/games/new/character/includes/nav.html'"></aside>
      <section class="flex-align-center flex-column flex-justify-center flex-span-6">
        <fieldset class="flex">
          <legend>Character Details</legend>
          <div>
            <p>
              Gender: {{ $parent.model.gender.GenderName }}
              <br />
              Race: {{ $parent.model.race.RaceName }}
              <br />
              Class: {{ $parent.model.class.ClassName }}
              <span ng-if="$parent.model.speciality">
                <br />
                Speciality: {{ $parent.model.speciality.SpecialityName }}
              </span>
            </p>
            <p>
              Abilities:
              <br />
              <span ng-repeat="ability in $parent.model.abilities">
                {{ ability.AbilityAbbreviation }}: {{ getAbilityValue(ability) }}<span ng-if="!$last">,&nbsp;</span>
              </span>
            </p>
            <p>
              Skills:
              <br />
              <span ng-repeat="skill in getSelectedSkills()">
                {{ skill.SkillName }}<span ng-if="!$last">,&nbsp;</span>
              </span>
            </p>
            <p>
              Spells:
              <br />
              <span ng-repeat="spell in getSelectedSpells()">
                {{ spell.SpellName }}<span ng-if="!$last">,&nbsp;</span>
              </span>
            </p>
          </div>
        </fieldset>
        <label class="flex-column text-center">
          <input class="text-center" model="model.selected.name" placeholder="Character Name" style="width: 50%; margin: 0 25%;" />
        </label>
      </section>
      <aside class="flex-column flex-justify-center flex-span-2" ng-include="'app/templates/games/new/character/includes/preview.html'"></aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
