<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article>
      <aside class="col">
        <div class="flex col">
          <fieldset class="flex text-center">
            <legend>Select Race</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li
                  ng-class="{ active: model.selected.race.RaceId == race.RaceId }"
                  ng-repeat="race in model.options.races">
                  <label class="input-checkbox">
                    <input
                      name="race"
                      ng-checked="model.selected.race.RaceId === race.RaceId"
                      ng-model="model.selected.race"
                      ng-value="race"
                      type="radio" />
                    {{ race.RaceName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="text-center">
            <legend>Select Gender</legend>
            <ul>
              <li
                ng-class="{ active: model.selected.gender.GenderId == gender.GenderId }"
                ng-repeat="gender in model.options.genders">
                <label class="input-checkbox">
                  <input
                    name="gender"
                    ng-checked="model.selected.gender.GenderId === gender.GenderId"
                    ng-model="model.selected.gender"
                    ng-value="gender"
                    type="radio" />
                  {{ gender.GenderName }}
                </label>
              </li>
            </ul>
          </fieldset>
        </div>
      </aside>
      <section class="col flex-center">
        <figure class="flex">
          <div class="flex">
            <img
              height="100%"
              ng-src="./media/images/characters/classes/{{ model.selected.gender.GenderName }}-{{ model.selected.race.RaceName }}-{{ model.selected.race.RaceDefaultClassName }}.png" />
          </div>
          <figcaption class="small">{{ model.selected.gender.GenderName }} {{ model.selected.race.RaceName }}</figcaption>
        </figure>
      </section>
      <aside class="col">
        <div class="flex col">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p>{{ model.selected.race.GenderName }}</p>
                <p class="small" ng-bind-html="model.selected.race.RaceDescription | replaceNewLines | fixPlusMinus" ng-if="!view.description || view.description == 'general'"></p>
                <p class="small" ng-bind-html="model.selected.race.RaceDetails | replaceNewLines | fixPlusMinus" ng-if="view.description == 'details'"></p>
                <p class="small" ng-bind-html="model.selected.race.RaceStats | replaceNewLines | fixPlusMinus" ng-if="view.description == 'stats'"></p>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="tabs bottom">
          <div ng-class="{ selected: !view.description || view.description == 'general' }" ng-click="view.description = 'general'">General</div>
          <div ng-class="{ selected: view.description == 'details' }" ng-click="view.description = 'details'">Details</div>
          <div ng-class="{ selected: view.description == 'stats' }" ng-click="view.description = 'stats'">Stats</div>
        </div>
      </aside>
    </article>
    <footer>
      <button ng-click="transitionTo('games.new.party')" type="reset">Cancel</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
