<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article class="flex-row">
      <aside class="flex-align-stretch flex-column flex-justify-center flex-span-2">
        <nav class="flex-align-stretch flex-column flex-justify-center">
          <span class="button submit">Race</span>
          <span class="button disabled">Class</span>
          <span class="button disabled">Speciality</span>
          <span class="button disabled">Abilities</span>
          <span class="button disabled">Skills</span>
          <span class="button disabled">Spells</span>
          <span class="button disabled">Name</span>
        </nav>
      </aside>
      <section class="flex-column flex-span-3">
        <div class="flex flex-column">
          <fieldset class="flex text-center">
            <legend>Select Race</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li ng-class="{ active: model.selected.race.RaceId == race.RaceId }" ng-repeat="race in model.options.races">
                  <label class="input-checkbox">
                    <input name="race" ng-checked="model.selected.race.RaceId === race.RaceId" ng-model="model.selected.race" ng-value="race" type="radio" />
                    {{ race.RaceName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="flex-column">
          <fieldset class="text-center">
            <legend>Select Gender</legend>
            <ul>
              <li ng-class="{ active: model.selected.gender.GenderId == gender.GenderId }" ng-repeat="gender in model.options.genders">
                <label class="input-checkbox">
                  <input name="gender" ng-checked="model.selected.gender.GenderId === gender.GenderId" ng-model="model.selected.gender" ng-value="gender" type="radio" />
                  {{ gender.GenderName }}
                </label>
              </li>
            </ul>
          </fieldset>
        </div>
      </section>
      <section class="flex-column flex-span-3">
        <div class="flex flex-column">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p>{{ model.selected.race.RaceName }}</p>
                <p class="small" ng-bind-html="model.selected.race.RaceDescription | replaceNewLines | fixPlusMinus" ng-if="!view.description || view.description == 'general'"></p>
                <p class="small" ng-bind-html="model.selected.race.RaceDetails | replaceNewLines | fixPlusMinus" ng-if="view.description == 'details'"></p>
                <p class="small" ng-bind-html="model.selected.race.RaceStats | replaceNewLines | fixPlusMinus" ng-if="view.description == 'stats'"></p>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="tabs bottom">
          <div ng-class="{ selected: !flags.loading && (!view.description || view.description == 'general') }" ng-click="view.description = 'general'">General</div>
          <div ng-class="{ selected: !flags.loading && (view.description == 'details') }" ng-click="view.description = 'details'">Details</div>
          <div ng-class="{ selected: !flags.loading && (view.description == 'stats') }" ng-click="view.description = 'stats'">Stats</div>
        </div>
      </section>
      <aside class="flex-column flex-span-2">
        <figure class="flex">
          <div class="flex">
            <img class="portrait" ng-src="./media/images/characters/classes/{{ model.selected.gender.GenderName }}-{{ model.selected.race.RaceName }}-{{ model.selected.race.RaceDefaultClassName }}.png" />
          </div>
          <figcaption class="small">{{ model.selected.gender.GenderName }} {{ model.selected.race.RaceName }}</figcaption>
        </figure>
      </aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Cancel</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
