<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && (getPointsLeft() == 0) && accept()">
    <article class="flex-row">
      <aside class="flex-align-stretch flex-column flex-justify-center flex-span-2">
        <nav class="flex-align-stretch flex-column flex-justify-center">
          <span class="button">Race</span>
          <span class="button">Class</span>
          <span class="button" ng-class="{ 'disabled': !$parent.model.class.ClassSpecialities }">Speciality</span>
          <span class="button">Abilities</span>
          <span class="button submit">Skills</span>
          <span class="button disabled">Spells</span>
          <span class="button disabled">Name</span>
        </nav>
      </aside>
      <section class="flex-column flex-span-3">
        <div class="flex-column">
          <fieldset class="flex">
            <legend>Bonus Points</legend>
            <div class="flex">
              <ul class="condensed">
                <li class="flex-row">
                  <span class="flex">Remaining Choices:</span>
                  <span>
                    <input class="text-center" readonly ng-value="getPointsLeft()" onfocus="this.blur()" style="width: 64px;" />
                  </span>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="flex flex-column">
          <fieldset class="flex">
            <legend>Select Skills</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li ng-repeat-start="(category, skills) in model.selected.skills | groupBy:'SkillCategoryName'">{{ category }}</li>
                <li ng-class="{ active: skill.SkillSelected, disabled: !skill.SkillEnabled || (!skill.SkillSelected && getPointsLeft() <= 0) }" ng-repeat="skill in skills" ng-repeat-end>
                  <label class="input-checkbox">
                    <input ng-checked="skill.SkillSelected" ng-disabled="!skill.SkillEnabled || (!skill.SkillSelected && getPointsLeft() <= 0)" ng-model="skill.SkillSelected" type="checkbox" />
                    <i class="far" ng-class="{ 'fa-check-square': skill.SkillSelected, 'fa-square': !skill.SkillSelected }"></i>
                    {{ skill.SkillName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </section>
      <section class="flex-column flex-span-3">
        <div class="flex flex-column">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p ng-repeat-start="skill in model.selected.skills track by $index">{{ skill.SkillName }}</p>
                <p class="small" ng-repeat-end>{{ skill.SkillDescription }}</p>
              </div>
            </div>
          </fieldset>
        </div>
      </section>
      <aside class="flex-column flex-span-2">
        <figure class="flex">
          <div class="flex">
            <img class="portrait" ng-src="./media/images/characters/classes/{{ $parent.model.gender.GenderName }}-{{ $parent.model.race.RaceName }}-{{ $parent.model.class.ClassName }}.png" />
          </div>
          <figcaption class="small">{{ $parent.model.gender.GenderName }} {{ $parent.model.race.RaceName }} {{ $parent.model.class.ClassName }}</figcaption>
        </figure>
      </aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading || getPointsLeft() != 0" type="submit">Next</button>
    </footer>
  </form>
</main>
