<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && accept()">
    <article class="flex-row">
      <aside class="col flex-align-stretch flex-justify-center flex-span-2">
        <nav class="col flex-align-stretch flex-justify-center">
          <span class="button">Race</span>
          <span class="button">Class</span>
          <span class="button submit">Speciality</span>
          <span class="button disabled">Abilities</span>
          <span class="button disabled">Skills</span>
          <span class="button disabled">Spells</span>
          <span class="button disabled">Name</span>
        </nav>
      </aside>
      <section class="col flex-span-3">
        <div class="col flex">
          <fieldset class="flex text-center">
            <legend>Select Speciality</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li ng-class="{ active: model.selected.speciality.SpecialityId == speciality.SpecialityId }" ng-repeat="speciality in model.options.specialties">
                  <label class="input-checkbox">
                    <input name="class" ng-checked="model.selected.speciality.SpecialityId === speciality.SpecialityId" ng-model="model.selected.speciality" ng-value="speciality" type="radio" />
                    {{ speciality.SpecialityName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </section>
      <section class="col flex-span-3">
        <div class="col flex">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p>{{ model.selected.speciality.SpecialityName }}</p>
                <p class="small" ng-bind-html="model.selected.speciality.SpecialityDescription | replaceNewLines | fixPlusMinus"></p>
              </div>
            </div>
          </fieldset>
        </div>
      </section>
      <aside class="col flex-center flex-span-2">
        <figure class="flex">
          <div class="flex">
            <img class="portrait" ng-src="./media/images/characters/classes/{{ $parent.model.gender.GenderName }}-{{ $parent.model.race.RaceName }}-{{ $parent.model.class.ClassName }}.png" />
          </div>
          <figcaption class="small">{{ $parent.model.gender.GenderName }} {{ $parent.model.race.RaceName }} {{ $parent.model.class.ClassName }}</figcaption>
        </figure>
      </aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading" type="submit">Next</button>
    </footer>
  </form>
</main>
