<h2>Create Character</h2>
<main overlay="flags.loading">
  <form ng-submit="!flags.loading && (getPointsLeft() == 0) && accept()">
    <article>
      <aside class="col">
        <div class="col">
          <fieldset class="flex">
            <legend>Bonus Points</legend>
            <div class="flex">
              <ul class="condensed">
                <li class="row">
                  <span class="flex">Remaining Choices:</span>
                  <span>
                    <input class="text-center" readonly ng-value="getPointsLeft()" onfocus="this.blur()" style="width: 64px;" />
                  </span>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="flex col">
          <fieldset class="flex">
            <legend>Select Spells</legend>
            <div class="flex" ng-scrollbars>
              <ul>
                <li ng-repeat-start="(category, spells) in model.selected.spells | groupBy:'MagicSchoolName'">{{ category }}</li>
                <li ng-class="{ active: spell.SpellSelected, disabled: (!spell.SpellSelected && getPointsLeft() <= 0) }" ng-repeat="spell in spells" ng-repeat-end>
                  <label class="input-checkbox">
                    <input ng-checked="spells.SpellSelected" ng-disabled="(!spells.SpellSelected && getPointsLeft() <= 0)" ng-model="spell.SpellSelected" type="checkbox" />
                    <i class="far" ng-class="{ 'fa-check-square': spell.SpellSelected, 'fa-square': !spell.SpellSelected }"></i>
                    {{ spell.SpellName }}
                  </label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
      </aside>
      <section class="col flex-center">
        <figure class="flex">
          <div class="flex">
            <img
              class="preview"
              ng-src="./media/images/characters/classes/{{ $parent.model.gender.GenderName }}-{{ $parent.model.race.RaceName }}-{{ $parent.model.class.ClassName }}.png" />
          </div>
          <figcaption class="small">{{ $parent.model.gender.GenderName }} {{ $parent.model.race.RaceName }} {{ $parent.model.class.ClassName }}</figcaption>
        </figure>
      </section>
      <aside class="col">
        <div class="flex col">
          <fieldset class="flex">
            <legend>Description</legend>
            <div class="flex" ng-scrollbars>
              <div>
                <p ng-repeat-start="spell in model.selected.spells track by $index">{{ spell.SpellName }}</p>
                <p class="small" ng-repeat-end>{{ spell.SpellDescription }}</p>
              </div>
            </div>
          </fieldset>
        </div>
      </aside>
    </article>
    <footer>
      <button ng-click="back()" type="reset">Back</button>
      <button ng-disabled="flags.loading || getPointsLeft() != 0" type="submit">Next</button>
    </footer>
  </form>
</main>
