*, ::after, ::before {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:not(input):not(textarea) {
  cursor: default !important;
  user-select: none;
}

form:last-child {
  margin-block-end: 0;
}
