*,
::after,
::before {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:not(input) {
  cursor: default !important;
  user-select: none;
}
