$color-black: rgb(0, 0, 0);
$color-extra-dark: rgb(87, 83, 79);
$color-dark: rgb(117, 103, 89);
$color-light: rgb(155, 150, 127);
$color-white: rgb(255, 251, 247);
$color-interactive: rgb(128, 32, 0);
$color-interactive-shadow: rgb(255, 93, 46);
