$font-family: Dalelands;
$font-size: 12px;
$font-size-large: 14px;
$font-size-small: 10px;
$font-weight: 400;
$font-weight-bold: 700;

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
